body{
	background:#F8F7ED;
}

h1{
	width: 100%;
	text-align: center;
	background:#f36e21;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

#master{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	width:100%;
	height: 30px;
	background:#f36e21;
	margine-left: auto;
	margine-right: auto;
}

.top_nav{
	margin:0px;
	margin-left: auto;
	margin-right: auto;
float:right;
}

#footer{
	width:100%;
	background:#513127;
	margin-left: auto;
	margin-right: auto;
}
#moto{
	color:#FFFFFF;
	text-align: center;
}

#content{
	width:100%;
	height: 600px;
	background:#FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

.horizontal{
	font-family:Arial;
	font-style:normal;
	font-size:12pt;
	display:inline; 
	margin-right: 20px;
 }

.unselected{
	width: 150px;
	height: 50px;
	background: -webkit-gradient(linear, left top, left bottom, from(#98BCDE), to(#7D8C99)/*from(#668D3C), to(#BDD09F)*/);
	background: -moz-linear-gradient(10% 100% 90deg,#98BCDE, #7D8C99);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98BCDE', endColorstr='#7D8C99');
	border-radius: 10px;
	box-shadow: 2px -2px 7px #000000;
    webkit-box-shadow: 2px -2px 7px #000000;
	float:none;
	
}

#city_list{
	margin: 0px;
}

.city_text{
	padding:0px;
	padding-top:10px;
	margin:0px;
	margin-left:50px;
	float:left;
}

