/* Remove padding and margin */
*
    {
    margin: 0;
    padding: 0;
    font-family: Palatino, Georgia, "Times New Roman";
}

body{
	background:#F8F7ED;
}

a {
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #000C4F;
}

input.text,
input[type=text]
textarea {
	border: 1px solid #7C7C7C;
	border-color: #7C7C7C #7C7C7C #C3C3C3 #C3C3C3;
}

p,
ul,
ol {
	margin-bottom: 1em;
}

/*-  MAIN
----------------------------------------------------------------------*/
/*
	Outsets
*/
.logo,
.nav-primary,
.lede {
	position: relative;
	z-index: 100;
}
.logo:after,
.nav-primary:after,
.lede:after {
	content: ".";
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.logo:after {
	content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:-10px;
    right:-10px;
    background:#F36E21;
    z-index:-1;
    -moz-transform: skew(-25deg);
   -webkit-transform: skew(-25deg);
    box-shadow:-10px 10px 0 0 #F29F6F;
    -moz-box-shadow:-10px 10px 0 0 #F29F6F;
    -webkit-box-shadow:-10px 10px 0 0 #F29F6F;
}

img {
	max-width: 100%;
}
.ie6 img {
	width: 100%;
}
#master {
	margin: 36px auto;
	width: 90%;
}
.logo {
   /* margin:20px;*/
	/*background: #F36E21; */
	float: left;
	padding-left: 1.0em;
	width: 16.875%;	/* 162 / 960 */
}

.logo a {
	display: block;
	padding: 8px 14.8148148% 18px;	/* 24 / 162 */
}

.logo img {
	display: block;
}

.logo h1 {
	margin-bottom: 0.0em;
}

.nav-primary {
	background: #513127;
	padding: 1.2em 1em 1em;
	text-transform: uppercase;
	top: 24px;
	z-index: 99;
}

.nav-primary:after,
.lede:after {
	-moz-box-shadow: 1px -1px 0 #751910, 2px -2px 0 #751910, 3px -3px 0 #751910, 4px -4px 0 #751910, 5px -5px 0 #751910, 6px -6px 0 #751910, 7px -7px 0 #751910, 8px -8px 0 #751910, 9px -9px 0 #751910, 10px -10px 0 #751910, 11px -11px 0 #751910;
	-webkit-box-shadow: 1px -1px 0 #751910, 2px -2px 0 #751910, 3px -3px 0 #751910, 4px -4px 0 #751910, 5px -5px 0 #751910, 6px -6px 0 #751910, 7px -7px 0 #751910, 8px -8px 0 #751910, 9px -9px 0 #751910, 10px -10px 0 #751910, 11px -11px 0 #751910;
	box-shadow: 1px -1px 0 #751910, 2px -2px 0 #751910, 3px -3px 0 #751910, 4px -4px 0 #751910, 5px -5px 0 #751910, 6px -6px 0 #751910, 7px -7px 0 #751910, 8px -8px 0 #751910, 9px -9px 0 #751910, 10px -10px 0 #751910, 11px -11px 0 #751910;
	opacity: 0.2;
}

.nav-primary li {
	display: inline;
}

.nav-primary a {
	color: #EECBA5;
	padding: 1.2em 1em 1em;
	position: relative;
	z-index: 1;
}

.nav-primary a:hover {
	color: #F8F5F2;
}










	
#banner{
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}

.right_header_text{
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-right: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-decoration: none;
	background-color: #513127;
	border: 1px solid #000000;
	background: -moz-linear-gradient(top, #7a5243, #513127);
	background: -webkit-gradient(linear, left top, left bottom, from(#7a5243), to(#513127));
}

.top_nav{
	margin:10px;
}

#footer{
	width:100%;
	background:#513127;
	margin-left: auto;
	margin-right: auto;
}
#moto{
	color:#FFFFFF;
	text-align: center;
}

#content{
	width:100%;
	min-height: 400px;
	background:#FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

.content_style{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#city_list{
	text-align:left;
}

.city_text{
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:10px;
}

/* Set up classes for floating and clearing */
.clear
    {
    clear:both;
}

.right
    {
    float: right;
}

.left
    {
    float: left;
}

.inline {
	display: inline;
}

/*-  MEDIA QUERIES
----------------------------------------------------------------------*/
/* Disable iOS/WinMobile font size changes */
@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
	html {
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	}
}

